@media only screen and (max-width: 946px) 
	.content__box:nth-child(2)
		margin-right 0
@media only screen and (max-width: 900px) 
	.container__info
		font-size 1.1em 
		width 185px
		height 60px
	.packs-content
		visibility hidden	
@media only screen and (max-width: 769px)
	.header__form,
	.content-btm__form
		display block
	.header__name
		margin-bottom 4px
	.header__pass
		margin-bottom 10px	
	.content-btm__sub
		display block	
		margin-top 10px		
	.container
		flex-wrap wrap
		padding 37px 10px
		&__title
			text-align center
		&__content
			flex-basis 100%
		&__box	
			margin 25px auto 0	
@media only screen and (max-width: 640px)
	.content-btm
		justify-content center
		&__visa
			margin-right 0
		&__new
			margin 25px 0 0 65px
	.footer
		justify-content center	
		width 301px
		&__box
			margin 0 0 20px	0
@media only screen and (max-width: 566px)
	.content__box
		margin-right 0
		width 100%	
	.service__box
		max-width 100%	
	.benefits__title,
	.packs__title,
	.service__title	
		border-radius 0	
@media only screen and (max-width: 559px)
	.nav__item
		padding 12px 15px
	.content-btm__new
		margin-left 0	
@media only screen and (max-width: 480px)
	.header
		flex-direction column	
	.container__info
		font-size 0.8em
		width 140px
		height 50px	
	.nav__button
		display block	
	.nav__list
		display none
	.nav__item
		float none	


					
		